@using Wedding.DAL.Data.Entities
@model List<WareCategory>

<div class="modal" id="addWareCategoryModal" tabindex="-1">
  <div class="modal-dialog">
    <div id="createWareCategoryModal" class="modal-content">
      
    </div>
  </div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <a onclick="onAddWareCategoryHandler()" class="btn btn-success">
                        <span>Добавить</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                        Создатель
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CreatedBy)
                        </td>

                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
const onAddWareCategoryHandler = () => {
    $.get("/WareCategory/Create", function(data) { 
        $("#createWareCategoryModal").html(data)
        $("#addWareCategoryModal").show()
    })
}
</script>