@using Wedding.DAL.Data.Entities
@model Wedding.AdminPanel.Models.Pagination.BasePagedModel<City>

<style>
    a.disabled {
      pointer-events: none;
      cursor: default;
      color: gray;
    }
</style>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Наименование
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Создатель
        </th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PageItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td style="max-width:">
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedBy)
            </td>

            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удаление</a>
                <a href="#" onclick="onUpdateCityHandler('@item.Id')" class="btn btn-warning">Редактирование</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    @Model.Page из @Model.LastPage
</div>

<ul class="pagination">
    <li class="page-item">
        <a href="#" class="page-link@(Model.Page != 1 ? "" : " disabled")"  onclick="onPageBtnClick(1)">Начало</a>
    </li>
    <li class="page-item">
        <a href="#" class="page-link@(Model.Page != 1 ? "" : " disabled")" onclick="onPageBtnClick(@(Model.Page - 1))">&laquo;</a>
    </li>
    <li class="page-item">
        <a href="#" class="page-link@(Model.LastPage > Model.Page ? "" : " disabled")" onclick="onPageBtnClick(@(Model.Page + 1))">&raquo;</a>
    </li>
    <li class="page-item">
        <a href="#" class="page-link@(Model.LastPage > Model.Page ? "" : " disabled")"  onclick="onPageBtnClick(@(Model.LastPage))">Конец</a>
    </li>
</ul>

<script>
    const onPageBtnClick = (page) => {
        $.get("/City/Table?page=" + page, function(data) {
            $("#table-container").html(data)
        })
    }
</script>