@using Wedding.DAL.Data.Entities
@model List<Ware>

<div class="modal" id="addWareModal" tabindex="-1">
  <div class="modal-dialog">
    <div id="createWareModal" class="modal-content">
      
    </div>
  </div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <a onclick="onAddWareHandler()" class="btn btn-success">
                        <span>Добавить</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Розничная цена
                    </th>
                    <th>
                        Закупочная цена
                    </th>
                    <th>
                        Скидка
                    </th>
                    <th>
                        Описание
                    </th>
                    <th>
                        Дата создания
                    </th>
                    <th>
                        Создатель
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.RetailPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Price)
                        </td>
                        <td>
                            @if (item.Discounted)
                            {
                                <span class="badge bg-primary">ДА</span>
                            }
                            else
                            {
                                <span class="badge bg-secondary">НЕТ</span>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CreatedBy)
                        </td>

                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
                            <a href="#" onclick="onUpdateWareHandler('@item.Id')">Редактирование</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
const onAddWareHandler = () => {
    $.get("/Ware/Create", function(data) { 
        $("#createWareModal").html(data)
        $("#addWareModal").show()
    })
}
const onUpdateWareHandler = (id) => {
    $.get("/Ware/Update?id=" + id, function(data) { 
        $("#createWareModal").html(data)
        $("#addWareModal").show()
    })
}
</script>