@using Wedding.DAL.Data.Entities
@model Ware

<div class="modal-header">
        <h5 class="modal-title">Редактирование</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="onWareUpdateModalClose()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Наименование</label>
            <input class="form-control" id="wareNameInput" value="@Model.Name">

            <label class="form-label">Картинка</label>
            <input type="file" id="wareFileInput" name="file" >

            <label class="form-label">Розничная цена</label>
            <input type="number" class="form-control" id="wareRetailPriceInput" value="Number((@Model.RetailPrice).toString())">

            <label class="form-label">Закупочная цена</label>
            <input type="number" class="form-control" id="warePriceInput" value="Number((@Model.Price).toString())">

            <div class="form-check">
                <label class="form-label">Скидка</label>
                <input type="checkbox" class="form-check-input" id="wareDiscountedInput" value="@Model.Discounted">
            </div>

            <label class="form-label">Описание</label>
            <input class="form-control" id="wareDescriptionInput" value="@Model.Description">
            
            <label class="form-label">Категория</label>
            <select class="form-select" id="wareCategorySelect" value="@Model.Category">

                @foreach(var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onWareUpdateModalClose()">Отмена</button>
        <button type="button" class="btn btn-primary" onclick="onWareUpdateModalConfirm()">Сохранить</button>
      </div>

      <script>
            const onWareUpdateModalClose = () => {
                $("#addWareModal").hide()
            }

        const onWareUpdateModalConfirm = () => {

            var fd = new FormData();

            const wareName = $("#wareNameInput").val()
            var files = $('#wareFileInput')[0].files;
            const wareRetailPrice = Number($("#wareRetailPriceInput").val())
            const warePrice = Number($("#warePriceInput").val())
            const wareDiscounted = $("#wareDiscountedInput").is(':checked')
            const wareDescription = $("#wareDescriptionInput").val()
            const wareCategoryId = $('#wareCategorySelect option:selected').val()

            fd.append('name', wareName)
            if (files.length > 0) {
                fd.append('file', files[0]);
            }
            fd.append('retailPrice', wareRetailPrice)
            fd.append('price', warePrice)
            fd.append('discounted', wareDiscounted)
            fd.append('description', wareDescription)
            fd.append('categoryId', wareCategoryId)
            fd.append('id', '@Model.Id')

            $.ajax({
                data: fd,
                url: 'Ware/Update',
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function() {
                    onWareUpdateModalClose()
                    loadAndUpdateData()
                }
            })
        }
      </script>